name: Flutter CI/CD 2026

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Check for errors (Static Analysis)
        run: flutter analyze

      # ลบส่วน flutter test ออกไปแล้ว เพื่อไม่ให้ Error หาโฟลเดอร์ไม่เจอ
      
      - name: Build APK
        run: flutter build apk --debug